/app/config/parameters.yml
/update/*/
/var/*/
/var/
/vendor/
/web/content
/web/cache/
/web/tor/
/web/todo/
/web/bundles/
*.min.js
*.swp
.last
.lock
/composer.phar
!.gitignore
!.gitkeep

*.php~
test
tests
Tests
.DS_Store
